.ratos01{
    width: 80px;
    height: 50px;
}

.ratos02{
    width: 100px;
    height: 70px;
}

.ratos03{
    width: 120px;
    height: 90px;
}

.ladoA{
transform: scalex(1);
}

.ladoB{
transform: scaleX(-1);
}

body{
    background-image: url(../Soucers/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.6;
}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.flex{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn_reiniciar{
    background-color: red;
    border-color: red;
    color: white;
    margin-top: -50px;
}

.btn_reiniciar, .btn_iniciar, .combo{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    width: 130px;
}


.btn_iniciar{
    background-color: green;
    border-color: green;
    color: white;
    margin-top: -10px;
}

.selecione{
    background-color: white;
    color:white;
    font-size: 16px;
}

.facil{
    background-color: green;
    color: white;
}

.normal{
    background-color: orange;
    color: white;
}

.dificil{
    background-color: red;
    color: white;
}