* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #004aad;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


footer {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

header .logo h1 {
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li a:hover {
  text-decoration: underline;
  background-color: #285ea8;
}

/* Seção de Destaque */
.destaque {
  padding: 20px;
  background-color: #fffcfc;
  margin: 20px 0;
}

.destaque h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.noticia-destaque {
  display: flex;
  gap: 20px;
}

.noticia-destaque img {
  width: 60%;
  border-radius: 10px;
}

.texto-destaque {
  flex: 1;
}

.texto-destaque h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.texto-destaque p {
  margin-bottom: 20px;
}

.texto-destaque a {
  color: #007bff;
  text-decoration: none;
}

.texto-destaque a:hover {
  text-decoration: underline;
}




footer p {
  font-size: 0.9rem;
}