* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff3e0;
    padding: 15px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 4px;
    background-color: #ffe6cc;
}

.hero ul {
    display: flex;
    list-style: none;
}

.hero ul li {
    margin: 0 10px;
}

.hero ul li a {
    text-decoration: none;
    color: #333;
}



footer {
    text-align: center;
    padding: 15px;
    background: #ffcc99;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background: #ff8000;
        position: absolute;
        top: 60px;
        right: 10px;
        width: 150px;
    }
    .video{
        width: 100px;
        height: 50px;
        
    }
    .menu-hamburguer {
        display: block;
    }

    .menu.active {
        display: flex;
    }
}

.container{
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #fff3e0;
}

.card{
    width: 200px;
    height: 200px;
    background-color: #333;
    margin: 5px;
}

img{
width: 200px;
height: 200px;
}

.video{
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    background-color: #333;
}

.tela{
    margin: 5px;
    background-color: #f8f8f8;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}